<!DOCTYPE html>
<html>
<head>
    <title>长春市实验中学缔声广播站点歌平台</title>
    <link rel="stylesheet" href="/static/diange/css/css.css" type="text/css">
</head>
<body id="bg">
    <div class="navigator">
        <li>
            <img src="/static/diange/img/ccssy.png" alt="" height="100px">
            <img src="/static/diange/img/gbz.png" height="100px">
    </li>
    <h1>长春市实验中学缔声广播站点歌平台</h1>
    </div>
<div>
<body>
    <div class="kuang">
    <h1>排卡表</h1>   
    <li>
        {% for song_group in song_groups %}
        
            {% for song in song_group %}
                {% if forloop.first %}
                    <li id="week"><strong>第{{ song.week }}天播放</strong></li>
                {% endif %}
                <li id="song">{{ song.song }} - {{ song.artist }} - {{ song.timestamp }}</li>
            {% endfor %}
        {% endfor %}
        <div class="link">
            <a href="http://dovezan.org.cn/diange/request">点歌</a>
            <a href="http://dovezan.org.cn/diange/list">查看列表</a>
        </div>
    </li>
    </div>
</body>
</html>




